.scene {
    background-image: url("../images/fond.png");
    overflow: hidden;
    position: absolute;
    height: 99%;
    width: 99%;
}

.central {
    background-color: red;
    float: left;
    overflow: hidden;
    width: 470px;
    height: 470px;
}

.imgG {
    float: left;
    width: 100px;
    height: 470px;
    overflow: hidden;
}

.txtbulle {}

.panneauTxt {
    position: absolute;
    width: 235px;
    height: 235px;
    opacity: 0.5;
    background-color: white;
}