doctype html
html(lang='fr')
    head 
        title TP9
        script(type='text/javascript' src='/jquery/jquery.js')
        script(type='text/javascript' src='/js/script.js')
        link(rel="stylesheet" type="text/css" href='/css/style.css')
    body
        h1 Recherche ADN difference entre deux chaines
        div.container
          form(id='form' name='form')
            div.form-group
              label(for='user') Utilisateur:
              input(type='text', placeholder='gibbs3456' name='user' id='user')
            div.form-group
              label(for='A') ADN A:
              input(type='text', placeholder='AAATTTCGCGC' name='A' id='A')
            div.form-group
              label(for='B') ADN B:
              input(type='text', placeholder='AAATTTCGCGC' name='B' id='B')
            button(type='button' name='btn' id='btn') Regarder la distance entre les 2 chaines
          button(type='button' name='clearbtn' id='clearbtn') Vider la liste
          if list !== undefined
            ul
              each val in list
                li= val