doctype html
html(lang='fr')
    head 
        title TP10
    body
        h1 Nombre de restaurants dans la base
        if nombre_restaurant !== undefined
           p Nombre restaurant : #{nombre_restaurant}